{% extends 'base.html' %}

{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>

    <h1>{{ meal_plan.name }}</h1>
    <h2>by: {{ meal_plan.owner | default_if_none:"Unknown" }}</h2>
    <h3>for: {{ meal_plan.date | default_if_none:"Unknown" }}</h3>

    <div class="recipe-card">
        <h2 class="recipe-card-title">Recipes</h2>
        {% for recipe in mealplan.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.pk %}>{{ recipe.name }}"></a>
        </p>
        {% endfor %}
    </div>

</main>
{% endblock content %}